@import '../../globals/global_variables';

body, html, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: $color__foreground--main;
  font-family: sans-serif;
}

#root {
  background-color: $color__background--main;
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: $border-radius__default;
  background-color: white;
  cursor: pointer;
}