@import '../../globals/global_variables';

$progress-bar__width: 100 * $grid__unit;

@keyframes interaction-indicator {
  0% {
    box-shadow: 0 0 15px 0 rgba($color__accent, 0);
  }

  50% {
    box-shadow: 0 0 15px 0 rgba($color__accent, 1);
  }

  100% {
    box-shadow: 0 0 15px 0 rgba($color__accent, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg)
  }

  50% {
    transform: rotateZ(180deg)
  }

  100% {
    transform: rotateZ(360deg)
  }
}

.progress-bar {
  width: $progress-bar__width;
  height: 2 * $grid__unit;
  margin-bottom: $spacer__xl;
  border-radius: $border-radius__default;
  background: $color__background--sub;
  overflow: hidden;

  &-inner {
    height: 100%;
    width: 0;
    background-color: $color__accent;
    transition: width 200ms linear;
  }
}

.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.button-input__wrapper {
  @extend %shadow-default;
  display: flex;
  min-width: 500px;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: $border-radius__default;
  background-color: white;
  transition: box-shadow 500ms ease-in-out, transform 500ms ease-in-out;

  &:hover {
    @extend %shadow-hover;

    button {
      animation: interaction-indicator 2s infinite;
    }
  }

  button {
    background-color: $color__accent;
    margin: 4px;
    color: white;

    &:focus {
      outline: none;
    }
  }

  input {
    flex-grow: 1;
    padding: 0 10px 0;
    border: none;
    background: white;
    color: $color__foreground--main;
    border-radius: $border-radius__default;
    font-size: 1.2rem;
    transition: background-color 500ms ease-in-out;

    &.border-left-side-only {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:hover {
      background-color: rgba(255, 255, 255, .2);
    }

    &::placeholder {
      color: gray;
    }

    &:focus {
      outline: none;
    }
  }
}

button[type=submit] {
  padding: 15px 20px;
  background: $color__accent;
  color: white;
  transition: all 500ms ease-in-out;

  &:disabled {
    background: white;
    color: gray;
    cursor: not-allowed;
  }

  svg {
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

img[src*=data] {
  display: none;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

    /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: $border-radius__default;
    border: 1px solid white;
    transition: all 200ms ease-in-out;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* On mouse-over, add a grey background color */
  &:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  & input:checked ~ .checkmark {
    border-color: $color__accent;
  }

  /* Show the checkmark when checked */
  & input:checked ~ .checkmark:after {
    display: block;
  }

/* Style the checkmark/indicator */
  & .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid $color__accent;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.options {
  display: flex;
  margin: 30px 0;
}

.preview {
  display: flex;
  text-align: center;
  align-items: center;
  height: 100px;
  margin-top: 50px;
  transition: opacity 1000ms ease-in-out;

  img {
    height: 100px;
    width: auto;
    margin: 0 10px;
  }
}