@import '../../globals/global_variables';

$title-bar__height: 6 * $grid__unit; // 23px

#title-bar {
  display: flex;
	align-items: flex-start;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  height: $title-bar__height;
  line-height: $title-bar__height;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 200ms ease-in-out;
	-webkit-user-select: none;
  -webkit-app-region: drag;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}